/* .divBackground{
    width: 400px;
    background-color: #c0d461;
}
.divPortal{
    background-image: url("https://i.pinimg.com/originals/97/86/ec/9786ec883756c755df35a331ff902f3b.png");
    background-size: 400px;
}


.image{
    border-radius: 99999px;
} */

.divBackground{
    width: 220px;
    background-color: green;
    border-radius: 10px;    
    margin: 2px;
    padding: 0.3rem;
    height: 200 px;
}
.divBackground:hover{
    background-color: rgb(203, 255, 114);
}

.divBackground2{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/454/117/desktop-wallpaper-rick-and-morty-portal-iphone-rick-and-morty-portal.jpg);
    background-size: cover;
    margin: 5px;
    border-radius: 9px;
    padding-bottom: 5px;
}

.button{
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 999px;
    width: 20px;
    margin: 2px;
    font-size: 10px;
    margin-left: 160px;
    margin-right: 2px;
}
.button:hover{
    background-color: brown;
}

.nameCard{
    height: 60px;
    color: #ffffff;
    text-shadow:
      0 0 7px #ffffff,
      0 0 10px #fff,
      0 0 21px #003725,
      0 0 42px rgb(0, 137, 92),
      0 0 82px rgb(0, 0, 0)
    }

.image{
    width: 170px;
    border-radius: 99999px;
}

.speciesCard{
    color: #ffffff;
    text-shadow:
      0 0 7px #ffffff,
      0 0 10px #fff,
      0 0 21px #003725,
      0 0 42px rgb(0, 137, 92),
      0 0 82px rgb(0, 0, 0)
    }
.genderCard{
    color: #ffffff;
    text-shadow:
      0 0 7px #ffffff,
      0 0 10px #fff,
      0 0 21px #003725,
      0 0 42px rgb(0, 137, 92),
      0 0 82px rgb(0, 0, 0)
    }